<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.kokodigital.quizfactor"
        versionCode="10" 
        version   = "1.0.0">
		
		<gap:plugin name="ChildBrowser"/> 
		<gap:plugin name="GenericPush" />
		<gap:plugin name="PushPlugin"/>
	+	<gap:plugin name="FacebookConnect">
	+			<param name="APP_ID"  value="628828893800003" />
	+	</gap:plugin>
		

	<access origin="*" />
	
    <name>QuizFactor</name>
    <description>
     QuizFactor
    </description>
    <author href="https://build.phonegap.com" email="support@phonegap.com">
       Koko Digital
    </author>

</widget>