<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.3">

    <!-- versionCode is optional and Android only -->
	<preference name="auto-hide-splash-screen" value="false" />
	
    <name>Notes App</name>

    <description>
       efsdfsdf
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
       Koko Digital
    </author>
	<gap:plugin name="ChildBrowser" version="~4"/> 
	<gap:splash src="splash.png" />
</widget>